::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-corner {
  background: #535353;
}

::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background: 0 0;
}
